---
---

@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Variables */

$column-count: 12;

$text-font: 'Source Sans Pro', sans-serif;

$link-color: #3498db;
$visited-link-color: $link-color;
$hover-link-color: #e74c3c;

$navbar-height: 75px;
$navbar-background: white;

$footer-height: 110px;
$footer-background: white;

/* Reset margins and paddings */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* A simple grid system */

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin row() {
  @include clearfix;
  width: 100%;
}

@mixin column($width) {
  float: left;
  width: 100% / $column-count * $width;
}

/* Navbar */

nav {
  height: $navbar-height;
  line-height: $navbar-height;

  background: $footer-background;

  margin-bottom: 25px;

  ul {
    list-style-type: none;
    float: right;
    padding-right: 50px;

    li {
      display: inline-block;
      margin: 0 25px;

      font-size: 1.2em;

      &:hover {
        border-bottom: 3px solid #2ecc71;
      }
    }
  }
}

/* Footer */

footer {
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;

  background: $footer-background;
}

/* Global style */

body {
  font-family: $text-font;
}

main {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $visited-link-color;
  }

  &:hover {
    color: $hover-link-color;
  }
}

/* Demo */

.example {
  @include row();

  .desc {
    @include column(12);
    margin-top: 20px;
  }

  pre {
    @include column(6);
  }

  chart {
    @include column(6);
  }
}

/* Home */

.others {
  ul {
    @include row();
    list-style-type: none;

    li {
      @include column(4);

      h3 {
        text-align: center;
        margin: 20px 0;
      }

      .desc {
        margin: 0 25px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 25px;
        height: 130px;
      }
    }
  }
}
