---
---

@charset "utf-8";

/* Variables */

$column-count: 12;

$navbar-height: 70px;
$navbar-background: white;

$footer-height: 110px;
$footer-background: white;

/* Reset margins and paddings */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* A simple grid system */

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin row() {
  @include clearfix;
  width: 100%;
}

@mixin column($width) {
  float: left;
  width: 100% / $column-count * $width;
}


/* Navbar */

nav {
  height: $navbar-height;
  line-height: $navbar-height;
  background: $footer-background;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
    }
  }
}

/* Footer */

footer {
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;

  background: $footer-background;
}

/* Demo */

.example {
  @include row();

  pre {
    @include column(4);
  }

  chart {
    @include column(8);
  }
}
