---
title: Demo
layout: default
---

<h1>Line charts</h1>

{% capture line_chart %}{% include charts/line.html %}{% endcapture %}

<div class="example">
  <div class="desc">
    A simple line chart.
  </div>
  <pre class="xml">
    <code>
{{ line_chart | xml_escape }}
    </code>
  </pre>
  {% include charts/line.html %}
</div>

{% capture line_formatting_chart %}{% include charts/line_formatting.html %}{% endcapture %}

<div class="example">
  <div class="desc">
    A line chart with axis formatting.
  </div>
  <pre class="xml">
    <code>
{{ line_formatting_chart | xml_escape }}
    </code>
  </pre>
  {% include charts/line_formatting.html %}
</div>

{% capture multi_line_chart %}{% include charts/multi_line.html %}{% endcapture %}

<div class="example">
  <div class="desc">
    A line chart with multiple series.
  </div>
  <pre class="xml">
    <code>
{{ multi_line_chart | xml_escape }}
    </code>
  </pre>
  {% include charts/multi_line.html %}
</div>

<h1>Pie charts</h1>

{% capture pie_chart %}{% include charts/pie.html %}{% endcapture %}

<div class="example">
  <div class="desc">
    A plain pie chart.
  </div>
  <pre class="xml">
    <code>
{{ pie_chart | xml_escape }}
    </code>
  </pre>
  {% include charts/pie.html %}
</div>

{% capture pie_flair_chart %}{% include charts/pie_flair.html %}{% endcapture %}

<div class="example">
  <div class="desc">
    A pie chart with extra flair.
  </div>
  <pre class="xml">
    <code>
{{ pie_flair_chart | xml_escape }}
    </code>
  </pre>
  {% include charts/pie_flair.html %}
</div>

<h1>Stacked area charts</h1>

{% capture stacked_chart %}{% include charts/stacked.html %}{% endcapture %}

<div class="example">
  <div class="desc">
    A stacked area chart.
  </div>
  <pre class="xml">
    <code>
{{ stacked_chart | xml_escape }}
    </code>
  </pre>
  {% include charts/stacked.html %}
</div>

<h1>Bar charts</h1>

{% capture bar_chart %}{% include charts/bar.html %}{% endcapture %}

<div class="example">
  <div class="desc">
    A simple bar chart.
  </div>
  <pre class="xml">
    <code>
{{ bar_chart | xml_escape }}
    </code>
  </pre>
  {% include charts/bar.html %}
</div>
