---
title: Demo
layout: default
---

<main>
  <h1>Chart Options</h1>

  <ul>
    <li>
      <code>type</code>: The type of chart. Options: <code>line</code>, <code>pie</code>, <code>stacked</code>, <code>bar</code>.</li>
    <li>
      <code>title</code>: The chart's title text.</li>
    <li>
      <code>width</code>, <code>height</code>: The chart's dimensions.</li>
    <li>
      <code>x_start</code>, <code>x_end</code>: The range of the X axis.</li>
    <li>
      <code>x_format</code>: The numerical format of the X axis.</li>
    <li>
      <code>x_date_format</code>: The date format of the X axis.</li>
    <li>
      <code>y_start</code>, <code>y_end</code>: The range of the Y axis.</li>
    <li>
      <code>y_format</code>: The numerical format of the Y axis.</li>
    <li>
      <code>y_date_format</code>: The date format of the Y axis.</li>
    <li>
      <code>tooltips</code>: Whether or not to show tooltips when mousing over the data. <code>true</code>
      or <code>false</code>.</li>
    <li>
      <code>legend</code>: Show legends. <code>true</code> or <code>false</code>.</li>
    <li>
      <code>clip</code>: Clip the edges when the chart runs over the width and height limits.</li>
  </ul>

  <h1>Line charts</h1>

  {% capture line_chart %}{% include charts/line.html %}{% endcapture %}

  <div class="example">
    <div class="desc">
      A simple line chart.
    </div>
    <pre class="xml">
      <code>
{{ line_chart | xml_escape }}
      </code>
    </pre>
    {% include charts/line.html %}
  </div>

  {% capture line_formatting_chart %}{% include charts/line_formatting.html %}{% endcapture %}

  <div class="example">
    <div class="desc">
      A line chart with axis formatting.
    </div>
    <pre class="xml">
      <code>
{{ line_formatting_chart | xml_escape }}
      </code>
    </pre>
    {% include charts/line_formatting.html %}
  </div>

  {% capture multi_line_chart %}{% include charts/multi_line.html %}{% endcapture %}

  <div class="example">
    <div class="desc">
      A line chart with multiple series.
    </div>
    <pre class="xml">
      <code>
{{ multi_line_chart | xml_escape }}
      </code>
    </pre>
    {% include charts/multi_line.html %}
  </div>

  <h1>Pie charts</h1>

  {% capture pie_chart %}{% include charts/pie.html %}{% endcapture %}

  <div class="example">
    <div class="desc">
      A plain pie chart.
    </div>
    <pre class="xml">
      <code>
{{ pie_chart | xml_escape }}
      </code>
    </pre>
    {% include charts/pie.html %}
  </div>

  {% capture pie_flair_chart %}{% include charts/pie_flair.html %}{% endcapture %}

  <div class="example">
    <div class="desc">
      A pie chart with extra flair.
    </div>
    <pre class="xml">
      <code>
{{ pie_flair_chart | xml_escape }}
      </code>
    </pre>
    {% include charts/pie_flair.html %}
  </div>

  <h1>Stacked area charts</h1>

  {% capture stacked_chart %}{% include charts/stacked.html %}{% endcapture %}

  <div class="example">
    <div class="desc">
      A stacked area chart.
    </div>
    <pre class="xml">
      <code>
{{ stacked_chart | xml_escape }}
      </code>
    </pre>
    {% include charts/stacked.html %}
  </div>

  <h1>Bar charts</h1>

  {% capture bar_chart %}{% include charts/bar.html %}{% endcapture %}

  <div class="example">
    <div class="desc">
      A simple bar chart.
    </div>
    <pre class="xml">
      <code>
{{ bar_chart | xml_escape }}
      </code>
    </pre>
    {% include charts/bar.html %}
  </div>

  <h1>Options</h1>

  {% capture range_chart %}{% include charts/range.html %}{% endcapture %}

  <div class="example">
    <div class="desc">
      Delimiting ranges.
    </div>
    <pre class="xml">
      <code>
{{ range_chart | xml_escape }}
      </code>
    </pre>
    {% include charts/range.html %}
  </div>
</main>
